
* {
    margin: 0;
    padding: 0;
    font-family:  'Arial','Helvetica', 'Roboto','Segoe UI', Tahoma, Verdana, sans-serif;
}

.body {
    background-color: #000000;
}

.spotify-website {
    height: 50rem;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.spotify-navbar {
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    width: 100%;
    background-color: #000000;
}   

.logo {
    display: flex;
}

.spotify-logo {
    height: 3rem;
    width: 3rem;
}

.spotify-search {
    display: flex;
}

.home-logo {
    height: 2.5rem;
    width: 2.5rem;
}

.search-bar {
    display: flex;
    border-radius: 25rem;
}

.spotify-search-box {
    display: flex;
    border-radius: 10rem;
}

.search-icon {
    height: 2rem;
    width: 2rem;
}

.spotify-browse {
    height: 2rem;
    width: 2rem;
}

.spotify-signup-and-login {
    display: flex;
}

.sign-up {
    font-size: 1rem;
    color: #b3b3b3;
}

.login-button { 
    background-color: #ffffff;
    height: 3rem;
    width: 8rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 10rem;
}
